/*! Spectre.css Experimentals v0.5.8 | MIT License | github.com/picturepan2/spectre */
._spectre .form-autocomplete {
  position: relative;
}

._spectre .form-autocomplete .form-autocomplete-input {
  align-content: flex-start;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-line-pack: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  min-height: 1.6rem;
  padding: .1rem;
}

._spectre .form-autocomplete .form-autocomplete-input.is-focused {
  border-color: #0d4c73; 
  box-shadow: 0 0 0 .1rem rgba(13, 76, 115, .2);
}

._spectre .form-autocomplete .form-autocomplete-input .form-input {
  border-color: transparent;
  box-shadow: none;
  display: inline-block;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 1.2rem;
  line-height: .8rem;
  margin: .1rem;
  width: auto;
}

._spectre .form-autocomplete .menu {
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

._spectre .form-autocomplete.autocomplete-oneline .form-autocomplete-input {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}

._spectre .form-autocomplete.autocomplete-oneline .chip {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

._spectre .calendar {
  border: .05rem solid #dadee4;
  border-radius: .1rem;
  display: block;
  min-width: 280px;
}

._spectre .calendar .calendar-nav {
  align-items: center;
  background: #f7f8f9;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  font-size: .9rem;
  padding: .4rem;
}

._spectre .calendar .calendar-header,._spectre 
.calendar .calendar-body {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: .4rem 0;
}

._spectre .calendar .calendar-header .calendar-date,._spectre 
.calendar .calendar-body .calendar-date {
  -ms-flex: 0 0 14.28%;
  flex: 0 0 14.28%;
  max-width: 14.28%;
}

._spectre .calendar .calendar-header {
  background: #f7f8f9;
  border-bottom: .05rem solid #dadee4;
  color: #bcc3ce;
  font-size: .7rem;
  text-align: center;
}

._spectre .calendar .calendar-body {
  color: #66758c;
}

._spectre .calendar .calendar-date {
  border: 0;
  padding: .2rem;
}

._spectre .calendar .calendar-date .date-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: .05rem solid transparent;
  border-radius: 50%;
  color: #66758c;
  cursor: pointer;
  font-size: .7rem;
  height: 1.4rem;
  line-height: 1rem;
  outline: none;
  padding: .1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  vertical-align: middle;
  white-space: nowrap;
  width: 1.4rem;
}

._spectre .calendar .calendar-date .date-item.date-today {
  border-color: #46abea;
  color: #0d4c73;
}

._spectre .calendar .calendar-date .date-item:focus {
  box-shadow: 0 0 0 .1rem rgba(13, 76, 115, .2);
}

._spectre .calendar .calendar-date .date-item:focus,._spectre 
.calendar .calendar-date .date-item:hover {
  background: #61b8ed;
  border-color: #46abea;
  color: #0d4c73;
  text-decoration: none;
}

._spectre .calendar .calendar-date .date-item:active,._spectre 
.calendar .calendar-date .date-item.active {
  background: #0b4365;
  border-color: #09344e;
  color: #fff;
}

._spectre .calendar .calendar-date .date-item.badge::after {
  position: absolute;
  right: 3px;
  top: 3px;
  transform: translate(50%, -50%);
}

._spectre .calendar .calendar-date .date-item:disabled,._spectre 
.calendar .calendar-date .date-item.disabled,._spectre 
.calendar .calendar-date .calendar-event:disabled,._spectre 
.calendar .calendar-date .calendar-event.disabled {
  cursor: default;
  opacity: .25;
  pointer-events: none;
}

._spectre .calendar .calendar-date.prev-month .date-item,._spectre 
.calendar .calendar-date.prev-month .calendar-event,._spectre 
.calendar .calendar-date.next-month .date-item,._spectre 
.calendar .calendar-date.next-month .calendar-event {
  opacity: .25;
}

._spectre .calendar .calendar-range {
  position: relative;
}

._spectre .calendar .calendar-range::before {
  background: #54b2ec;
  content: "";
  height: 1.4rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

._spectre .calendar .calendar-range.range-start::before {
  left: 50%;
}

._spectre .calendar .calendar-range.range-end::before {
  right: 50%;
}

._spectre .calendar .calendar-range.range-start .date-item,._spectre 
.calendar .calendar-range.range-end .date-item {
  background: #0b4365;
  border-color: #09344e;
  color: #fff;
}

._spectre .calendar .calendar-range .date-item {
  color: #0d4c73;
}

._spectre .calendar.calendar-lg .calendar-body {
  padding: 0;
}

._spectre .calendar.calendar-lg .calendar-body .calendar-date {
  border-bottom: .05rem solid #dadee4;
  border-right: .05rem solid #dadee4;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 5.5rem;
  padding: 0;
}

._spectre .calendar.calendar-lg .calendar-body .calendar-date:nth-child(7n) {
  border-right: 0;
}

._spectre .calendar.calendar-lg .calendar-body .calendar-date:nth-last-child(-n+7) {
  border-bottom: 0;
}

._spectre .calendar.calendar-lg .date-item {
  align-self: flex-end;
  -ms-flex-item-align: end;
  height: 1.4rem;
  margin-right: .2rem;
  margin-top: .2rem;
}

._spectre .calendar.calendar-lg .calendar-range::before {
  top: 19px;
}

._spectre .calendar.calendar-lg .calendar-range.range-start::before {
  left: auto;
  width: 19px;
}

._spectre .calendar.calendar-lg .calendar-range.range-end::before {
  right: 19px;
}

._spectre .calendar.calendar-lg .calendar-events {
  flex-grow: 1;
  -ms-flex-positive: 1;
  line-height: 1;
  overflow-y: auto;
  padding: .2rem;
}

._spectre .calendar.calendar-lg .calendar-event {
  border-radius: .1rem;
  display: block;
  font-size: .7rem;
  margin: .1rem auto;
  overflow: hidden;
  padding: 3px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._spectre .carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-container .carousel-item:nth-of-type(1),._spectre 
.carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-container .carousel-item:nth-of-type(2),._spectre 
.carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-container .carousel-item:nth-of-type(3),._spectre 
.carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-container .carousel-item:nth-of-type(4),._spectre 
.carousel .carousel-locator:nth-of-type(5):checked ~ .carousel-container .carousel-item:nth-of-type(5),._spectre 
.carousel .carousel-locator:nth-of-type(6):checked ~ .carousel-container .carousel-item:nth-of-type(6),._spectre 
.carousel .carousel-locator:nth-of-type(7):checked ~ .carousel-container .carousel-item:nth-of-type(7),._spectre 
.carousel .carousel-locator:nth-of-type(8):checked ~ .carousel-container .carousel-item:nth-of-type(8) {
  animation: carousel-slidein .75s ease-in-out 1;
  opacity: 1;
  z-index: 100;
}

._spectre .carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-nav .nav-item:nth-of-type(1),._spectre 
.carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-nav .nav-item:nth-of-type(2),._spectre 
.carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-nav .nav-item:nth-of-type(3),._spectre 
.carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-nav .nav-item:nth-of-type(4),._spectre 
.carousel .carousel-locator:nth-of-type(5):checked ~ .carousel-nav .nav-item:nth-of-type(5),._spectre 
.carousel .carousel-locator:nth-of-type(6):checked ~ .carousel-nav .nav-item:nth-of-type(6),._spectre 
.carousel .carousel-locator:nth-of-type(7):checked ~ .carousel-nav .nav-item:nth-of-type(7),._spectre 
.carousel .carousel-locator:nth-of-type(8):checked ~ .carousel-nav .nav-item:nth-of-type(8) {
  color: #f7f8f9;
}

._spectre .carousel {
  background: #f7f8f9;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
  z-index: 1;
}

._spectre .carousel .carousel-container {
  height: 100%;
  left: 0;
  position: relative;
}

._spectre .carousel .carousel-container::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

._spectre .carousel .carousel-container .carousel-item {
  animation: carousel-slideout 1s ease-in-out 1;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

._spectre .carousel .carousel-container .carousel-item:hover .item-prev,._spectre 
.carousel .carousel-container .carousel-item:hover .item-next {
  opacity: 1;
}

._spectre .carousel .carousel-container .item-prev,._spectre 
.carousel .carousel-container .item-next {
  background: rgba(247, 248, 249, .25);
  border-color: rgba(247, 248, 249, .5);
  color: #f7f8f9;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all .4s;
  z-index: 100;
}

._spectre .carousel .carousel-container .item-prev {
  left: 1rem;
}

._spectre .carousel .carousel-container .item-next {
  right: 1rem;
}

._spectre .carousel .carousel-nav {
  bottom: .4rem;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 10rem;
  z-index: 100;
}

._spectre .carousel .carousel-nav .nav-item {
  color: rgba(247, 248, 249, .5);
  display: block;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 1.6rem;
  margin: .2rem;
  max-width: 2.5rem;
  position: relative;
}

._spectre .carousel .carousel-nav .nav-item::before {
  background: currentColor;
  content: "";
  display: block;
  height: .1rem;
  position: absolute;
  top: .5rem;
  width: 100%;
}

@keyframes carousel-slidein {
  ._spectre 0% {
    transform: translateX(100%);
  }._spectre 
  100% {
    transform: translateX(0);
  }
}

@keyframes carousel-slideout {
  ._spectre 0% {
    opacity: 1;
    transform: translateX(0);
  }._spectre 
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

._spectre .comparison-slider {
  height: 50vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; 
  position: relative;
  width: 100%;
}

._spectre .comparison-slider .comparison-before,._spectre 
.comparison-slider .comparison-after {
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

._spectre .comparison-slider .comparison-before img,._spectre 
.comparison-slider .comparison-after img {
  height: 100%;
  object-fit: cover;
  object-position: left center;
  position: absolute;
  width: 100%;
}

._spectre .comparison-slider .comparison-before {
  width: 100%;
  z-index: 1;
}

._spectre .comparison-slider .comparison-before .comparison-label {
  right: .8rem;
}

._spectre .comparison-slider .comparison-after {
  max-width: 100%;
  min-width: 0;
  z-index: 2;
}

._spectre .comparison-slider .comparison-after::before {
  background: transparent;
  content: "";
  cursor: default;
  height: 100%;
  left: 0;
  position: absolute;
  right: .8rem;
  top: 0;
  z-index: 1;
}

._spectre .comparison-slider .comparison-after::after {
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 -5px, 0 5px;
  color: #fff;
  content: "";
  height: 3px;
  position: absolute;
  right: .4rem;
  top: 50%;
  transform: translate(50%, -50%);
  width: 3px;
}

._spectre .comparison-slider .comparison-after .comparison-label {
  left: .8rem;
}

._spectre .comparison-slider .comparison-resizer {
  animation: first-run 1.5s 1 ease-in-out;
  cursor: ew-resize;
  height: .8rem;
  left: 0;
  max-width: 100%;
  min-width: .8rem;
  opacity: 0;
  outline: none;
  position: relative;
  resize: horizontal;
  top: 50%;
  transform: translateY(-50%) scaleY(30);
  width: 0;
}

._spectre .comparison-slider .comparison-label {
  background: rgba(48, 55, 66, .5);
  bottom: .8rem;
  color: #fff;
  padding: .2rem .4rem;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes first-run {
  ._spectre 0% {
    width: 0;
  }._spectre 
  25% {
    width: 2.4rem;
  }._spectre 
  50% {
    width: .8rem;
  }._spectre 
  75% {
    width: 1.2rem;
  }._spectre 
  100% {
    width: 0;
  }
}

._spectre .filter .filter-tag#tag-0:checked ~ .filter-nav .chip[for="tag-0"],._spectre 
.filter .filter-tag#tag-1:checked ~ .filter-nav .chip[for="tag-1"],._spectre 
.filter .filter-tag#tag-2:checked ~ .filter-nav .chip[for="tag-2"],._spectre 
.filter .filter-tag#tag-3:checked ~ .filter-nav .chip[for="tag-3"],._spectre 
.filter .filter-tag#tag-4:checked ~ .filter-nav .chip[for="tag-4"],._spectre 
.filter .filter-tag#tag-5:checked ~ .filter-nav .chip[for="tag-5"],._spectre 
.filter .filter-tag#tag-6:checked ~ .filter-nav .chip[for="tag-6"],._spectre 
.filter .filter-tag#tag-7:checked ~ .filter-nav .chip[for="tag-7"],._spectre 
.filter .filter-tag#tag-8:checked ~ .filter-nav .chip[for="tag-8"] {
  background: #0d4c73;
  color: #fff;
}

